.feature__container {
	display: flex;
	flex-direction: column;
	flex: 1 1;
}

.feature__title {
	position: relative;
	font-weight: 650;
	color: white;
	margin-bottom: 0.4rem;
}

.feature__title::before {
	content: "";
	position: absolute;
	height: 3px;
	background: var(--gradient-bar);
	width: 2.3rem;
	top: -3px;
}

.feature__text {
	color: var(--color-text);
	font-size: 0.9rem;
}
